# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# GitHub Actions artefacts et caches
*.artifact
.github/actions/generate-docs/node_modules/

# Logs
*.log

# Systèmes
.DS_Store
Thumbs.db

# Environnement
.env
